.uiux1-container {
    max-width: 1920px;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Poppins, sans-serif;
    background-color: #FFFDF6;
    position: relative;
}

.uiux1-heading {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000000;

}

.uiux1-highlight {
    color: #E8B235;
}

.uiux1-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1700px;
    gap: 40px;
}

.uiux1-text {
    flex: 2;
    padding-right: 20px;
}

.uiux1-section {
    margin-bottom: 70px;
}

.uiux1-section h3 {
    font-size: 32px;
    color: #E8B235;
    margin-bottom: 10px;
    font-weight: bold;
}

.uiux1-section ul {
    list-style: none;
    padding-left: 0;
}

.uiux1-section ul li {
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 20px;
    color: #000000;

}

.uiux1-section ul li::before {
    content: '•';
    color: #E8B235;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}

.uiux1-image-card {
    position: absolute;
    max-width: 596px;
    height: 696px;
    top: 224px;
    right: 120px;
    bottom: 60px;
    left: 1188px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uiux1-card {
    width: 596px;
    height: 696px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiux1-strategy-image {
    position: absolute;
    max-width: 596px;
    height: 696px;
    object-fit: cover;
    top: 210px;
    right: 136px;
    bottom: 74px;
    left: 1170px;
}
