.about-us1-container {
    font-family: Poppins, sans-serif;
    max-width: 1920px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #FFFDF1;
}

.about-us1-content {
    max-width: 1042px;
}

.about-us1-content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
}

.highlight {
    color: #E8B235;
}

.about-us1-description {
    font-size: 20px;
    color: #000000;
    margin: 20px 0;
    line-height: 1.6;
}

.about-us1-image img {
    max-width: 578px;
    height: 542px;
    border-radius: 10px;
}
