.digital-marketing-features {
    font-family: Poppins, sans-serif;
    max-width: 1920px;
    height: 1270px;
    text-align: center;
    padding: 40px;
    background-color: #FFFFFF;
}

.digital-marketing-features-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 70px;
}

.digital-marketing-features-title span {
    color: #E8B235;
}

.digital-marketing-features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.digital-marketing-feature-card {
    background-color: #FFF7D1;
    border: 1px solid #FFBE3C;
    border-radius: 10px;
    padding: 20px;
    width: 820px;
    height: 480px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.digital-marketing-feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.digital-marketing-feature-icon-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.digital-marketing-feature-icon {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.digital-marketing-icon-keyword-research {
    background-image: url('../../../../assets/images/seo-assets/keyword_research.png');
}

.digital-marketing-icon-on-site-optimization {
    background-image: url('../../../../assets/images/seo-assets/on_site_optimisation.png');
}

.digital-marketing-icon-link-building {
    background-image: url('../../../../assets/images/seo-assets/link_building.png');
}

.digital-marketing-icon-content-strategy {
    background-image: url('../../../../assets/images/seo-assets/content_strategy.png');
}

.digital-marketing-icon-in-depth-reporting {
    background-image: url('../../../../assets/images/seo-assets/in_depth_monitoring.png');
}

.digital-marketing-feature-title {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

.digital-marketing-feature-description {
    font-size: 20px;
    margin: 0 auto 2px auto;
    padding: 0 20px;
    max-width: 680px;
    color: #464646;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
