@import url('../../assets/styles/Main.css');

:root {
    /* Hero Section Colors */
    --hero-bg-color: #f9f9f9;
    --hero-primary-color: #070707;
    --hero-secondary-color: #0844b6;
    --hero-light-text-color: white;
    --hero-button-bg-color: #ffffff;
    --hero-button-text-color: #e8b235;
    --hero-card-bg-color: white;
    --hero-card-shadow-color: rgba(0, 0, 0, 0.1);

    /* Hero Section Dimensions */
    --hero-height: 800px;
    --hero-content-max-width: 1016px;
    --hero-content-height: 200px;
    --hero-content-padding-left: 60px;
    --hero-content-margin-top: -180px;

    /* Button Styles */
    --hero-button-padding: 10px 25px;
    --hero-button-width: 230px;
    --hero-button-height: 58px;
    --hero-button-border-radius: 12px;
    --hero-button-font-size: 1.2rem;

}

/* Home Section */
.home {
    background-color: var(--hero-bg-color);
    padding: 0;
    margin: 0;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1920px;
    height: var(--hero-height);
    position: relative;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    z-index: 2;
    color: var(--hero-light-text-color);
    text-align: left;
    margin-top: var(--hero-content-margin-top);
    max-width: var(--hero-content-max-width);
    height: var(--hero-content-height);
    padding-left: var(--hero-content-padding-left);
}

.hero-content h1 {
    color: var(--hero-primary-color);
    font-size: 95px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    color: var(--hero-primary-color);
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 30px;
}

.hero-button {
    background-color: var(--navbar-primary-color);
    color: #000000;
    padding: var(--hero-button-padding);
    width: var(--hero-button-width);
    height: var(--hero-button-height);
    border: none;
    border-radius: var(--hero-button-border-radius);
    cursor: pointer;
    font-weight: bold;
    font-size: var(--hero-button-font-size);
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 1200px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .services-container {
        grid-template-columns: 1fr;
    }
}
