:root {
    --global-body-colour: #ede7e7;
    --global-font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--global-font-family), serif;
    background-color: var(--global-body-colour);
}

.main-contact-button {
    margin-top: var(--nav-contact-button-margin-top);
    background: var(--navbar-primary-color); /* Primary color */
    color: #FFFFFF; /* White text */
    padding: var(--nav-contact-button-padding);
    width: var(--nav-contact-button-width);
    height: var(--nav-contact-button-height);
    border: none;
    border-radius: var(--nav-contact-button-border-radius);
    font-weight: var(--nav-contact-button-font-weight);
    cursor: pointer;
    font-size: var(--nav-contact-button-font-size);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.main-contact-button:hover {
    background: #F2F2F2; /* Light grey, opposite of dark color */
    color: #333333; /* Dark text for contrast */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Hover shadow */
}

.main-contact-button:active {
    background: #CCCCCC; /* Slightly darker grey for active state */
    color: #333333; /* Text color on click */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Click shadow */
    transform: scale(0.98); /* Slightly scales down on click */
}

.main-white-button {
    margin-top: var(--nav-contact-button-margin-top);
    background: #FFFFFF; /* White background */
    color: #E8B235; /* Gold text */
    padding: var(--nav-contact-button-padding);
    width: var(--nav-contact-button-width);
    height: var(--nav-contact-button-height);
    border: 2px solid #E8B235; /* Gold border */
    border-radius: var(--nav-contact-button-border-radius);
    font-weight: var(--nav-contact-button-font-weight);
    cursor: pointer;
    font-size: var(--nav-contact-button-font-size);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
}

.main-white-button:hover {
    background: #E8B235; /* Gold background */
    color: #FFFFFF; /* White text for contrast */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Hover shadow */
}

.main-white-button:active {
    background: #d9a928; /* Darker gold for active state */
    color: #FFFFFF; /* White text on click */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Click shadow */
    transform: scale(0.98); /* Slightly scales down on click */
}

